{{ $baseURL :=  .Site.BaseURL }}
{{ partial "top" . }}

<h2 class="font-sans text-bho-blue-dark text-3xl mt-8 mb-8">Computer Art</h2>

<div class="flex flex-col justify-start items-start mb-12">

  <div class="w-full lg:w-3/4">
    <div class="mb-12" id="p5-progressive-color">
    </div>
    <div class="mb-12" id="p5-image-resolution">
    </div>
    <div class="mb-12" id="p5-threshold">
    </div>
    <div class="mb-12" id="p5-line-by-line">
    </div>

  </div>

</div>

</section>

</div>

</main>

<script src="{{ .Site.BaseURL }}js/app.min.js"></script>
<!--
<script src="{{ .Site.BaseURL }}js/p5.min.js"></script>
<script src="{{ .Site.BaseURL }}js/addons/p5.dom.min.js"></script>
<script src="{{ .Site.BaseURL }}js/p5-image-resolution.js"></script>
<script src="{{ .Site.BaseURL }}js/p5-threshold.js"></script>
<script src="{{ .Site.BaseURL }}js/p5-progressive-color.js"></script>
<script src="{{ .Site.BaseURL }}js/p5-line-by-line.js"></script>
-->
</body>

</html>
