{{ partial "top" . }}

<div class="font-sans text-3xl lg:px-24">
  <div class="flex flex-col lg:min-h-screen items-center justify-center">
    <div class="text-bho-blue-light mb-6">Sorry,</div>
    <div class="text-bho-blue-light text-center mb-4">
      the page you are looking for could not be found.
    </div>
  </div>
</div>

{{ partial "bottom" . }}
