{{ partial "top" . }}

<div class="font-sans ">
  <div class="flex flex-col lg:min-h-screen items-center justify-center my-16 lg:my-0">
    <div class="hidden lg:flex justify-center w-full lg:mt-0 mb-2">
      <figure class="w-16">
        <a href="{{ .Site.BaseURL }}">
          <img src="{{ .Site.BaseURL }}bh-logo.gif" alt="Bob Humphrey Web Development Logo">
        </a>
      </figure>
    </div>
    <div class="hidden lg:block text-center font-sans font-bold text-4xl text-bho-blue-dark mb-1">Bob Humphrey</div>
    <div class="hidden lg:block text-center font-sans text-2xl text-bho-blue-light mb-8">Web Developer</div>
    <div class="italic text-center font-sans text-3xl">
      Working overtime<br> in the dog smile factory
    </div>
  </div>
</div>

{{ partial "bottom" . }}