{{ $baseURL := .Site.BaseURL }}
{{ partial "top" . }}

<h2 class="font-sans text-bho-blue-dark text-3xl mt-8 mb-8">Projects</h2>

<p class="font-r text-grey-darker text-lg leading-normal mb-6">
  The following is a partial list of some of the projects
  I completed while working at
  <a class="font-r text-grey-darker text-lg leading-normal"
  href="{{ $baseURL }}/experience">Randall Library</a>.
  I worked on a very wide variety of assignments requiring
  a full range of
  <a class="font-r text-grey-darker text-lg leading-normal"
  href="{{ $baseURL }}/skills">development skills</a>.
</p>

{{ range $.Site.Data.projects }}

  <h3 class="font-sans text-bho-blue-light text-2xl mb-2">{{ .title }} </h3>
  <div class="font-r text-grey-darker text-lg leading-normal
     border-grey pb-1 mb-4">{{ .description }}</div>
  <figure class="mb-24 xl:pr-32">
    <img src="{{ $baseURL }}/img/projects-nonsquare/{{ .image }}"
    alt="Screen print from {{ .title }} project">
  </figure>

{{ end }}

{{ partial "bottom" . }}
