{{ partial "top" . }}

<h2 class="font-sans text-bho-blue-dark text-3xl mt-8 mb-8">Skills</h2>

<div class="lg:flex mb-24">
  <div class="lg:w-1/3 pr-6 lg:border-r border-grey">
    {{ partial "skills" ( dict "Page"  . "category" "PHP"  ) }}
    {{ partial "skills" ( dict "Page"  . "category" "JavaScript"  ) }}
    {{ partial "skills" ( dict "Page"  . "category" "Database"   ) }}
  </div>
  <div class="lg:w-1/3 lg:pl-6 pr-6 lg:border-r border-grey">
    {{ partial "skills" ( dict "Page"  . "category" "Front End"  ) }}
    {{ partial "skills" ( dict "Page"  . "category" "Static Sites"  ) }}
    {{ partial "skills" ( dict "Page"  . "category" "Content Management"  ) }}
  </div>
  <div class="lg:w-1/3 lg:pl-6">
    {{ partial "skills" ( dict "Page"  . "category" "Code Management" ) }}
    {{ partial "skills" ( dict "Page"  . "category" "Operating Systems"  ) }}
    {{ partial "skills" ( dict "Page"  . "category" "Graphics" ) }}
  </div>
</div>

{{ partial "bottom" . }}
