{{ $baseURL := .Site.BaseURL }}
{{ partial "top" . }}

<h2 class="font-sans text-bho-blue-dark text-3xl mt-8 mb-8">Photography</h2>

<div class="flex flex-col justify-start items-start">

  {{ range (.Paginator 20).Pages }}
  <div class="lg:w-3/4">
    <a href="{{ $baseURL }}photography/{{ .Params.file }}/">
      <figure class="">
        <img src="{{ $baseURL }}photography/{{ .Params.file }}.jpg"
        alt="{{ .Params.caption }}">
      </figure>
    </a>
    <div class="font-r text-grey-darker text-lg mt-2 mb-8">
      {{ .Params.caption }}
    </div>
  </div>
  {{ end }}

</div>

<nav class="flex lg:w-3/4 justify-between mb-24">
  {{ if .Paginator.HasPrev }}
    <div class="bg-grey-dark hover:bg-grey-darker font-r font-bold py-2 px-8 rounded">
      <a class="text-white no-underline" href="{{ .Paginator.Prev.URL }}">
          Previous
      </a>
    </div>
  {{ else }}
    <div class="bg-grey-light text-white font-r font-bold py-2 px-8 rounded">
        Previous
    </div>
  {{ end }}

  {{ if .Paginator.HasNext }}
    <div class="bg-grey-dark hover:bg-grey-darker font-r font-bold py-2 px-8 rounded">
      <a class="text-white no-underline" href="{{ .Paginator.Next.URL }}">
        Next page
      </a>
    </div>
  {{ else }}
    <div class="bg-grey-light text-white font-r font-bold py-2 px-8 rounded">
        Next page
    </div>
  {{ end }}
</nav>

{{ partial "bottom" . }}
