{{ partial "top" . }}

<h2 class="font-sans text-bho-blue-dark text-3xl mt-8 mb-8">Portfolio</h2>

{{ range $.Site.Data.portfolio }}

<h3 class="mb-2">
  <a class="font-sans text-bho-blue-light no-underline text-2xl"
    href="{{ .link }}" target="_blank">
    {{ .name }}
  </a>
</h3>
<p class="font-r text-grey-darker text-lg leading-normal mb-6">
  {{ .description }}
</p>

{{ end }}

{{ partial "bottom" . }}
