</section>

</div>

</main>

<footer>
    <div class="flex justify-center w-full bg-grey py-12">
        <figure class="w-16">
            <a href="{{ .Site.BaseURL }}">
                <img src="{{ .Site.BaseURL }}bh-logo.gif" alt="Bob Humphrey Web Development Logo">
            </a>
        </figure>
    </div>
</footer>

</body>

</html>