{{ $baseURL :=  .Site.BaseURL }}

<nav class="lg:w-2/5 bg-grey-light">
  <div class="flex flex-col lg:min-h-screen lg:items-center justify-center bg-grey-light">

    <div class=" font-sans pt-2 pb-4 px-4 z-50 bg-grey-lighter mt-4">
      <a class="text-bho-blue-dark no-underline" href="{{ .Site.BaseURL }}">
        <h1 class="text-center font-sans pt-0 mb-1">Bob Humphrey</h1>
      </a>
      <div class="text-center font-sans text-2xl text-bho-blue-light mb-4 ">Web Developer</div>
      <div class="flex justify-center w-full text-xl w-full">
        <a class="text-bho-blue-dark no-underline px-2" href="{{ .Site.BaseURL }}about">
          About
        </a>
        <a class="text-bho-blue-dark no-underline px-2" href="{{ .Site.BaseURL }}skills">
          Skills
        </a>
        <a class="text-bho-blue-dark no-underline px-2" href="{{ .Site.BaseURL }}experience">
          Experience
        </a>
        <a class="text-bho-blue-dark no-underline px-2" href="{{ .Site.BaseURL }}projects">
          Projects
        </a>
      </div>
      <div class="flex justify-center w-full text-base w-full py-2">
        <a class="text-bho-blue-dark no-underline px-2" href="{{ .Site.BaseURL }}photography">
          Photography
        </a>
        <a class="text-bho-blue-dark no-underline px-2" href="{{ .Site.BaseURL }}art">
          Art
        </a>
        <a class="text-bho-blue-dark no-underline px-2" href="{{ .Site.BaseURL }}computer-art">
          Computer Art
        </a>
        <a class="text-bho-blue-dark no-underline px-2" href="{{ .Site.BaseURL }}credits">
          Credits
        </a>
      </div>
      <div class="flex justify-center w-full text-base w-full ">
        <a class="text-bho-blue-dark no-underline px-2" href="https://gitlab.com/Bob_Humphrey" target="_blank">
          <i class="fab fa-gitlab"></i>
        </a>
        <a class="text-bho-blue-dark no-underline px-2"
          href="https://www.goodreads.com/review/list/9075241-bob-humphrey" target="_blank">
          <i class="fab fa-goodreads"></i>
        </a>
        <a class="text-bho-blue-dark no-underline px-2" href="https://www.instagram.com/dog_smile_factory/"
          target="_blank">
          <i class="fab fa-instagram"></i>
        </a>
        <a class="text-bho-blue-dark no-underline px-2" href="mailto://rphumphrey@gmail.com" target="_blank">
          <i class="fas fa-envelope"></i>
        </a>
      </div>
    </div>

    <div class="-mt-20">
      <figure class=" mb-8 lg:mb-16 -mt-32 z-30">
        <img src="{{ $baseURL }}dogs/dog1.png" alt="Dog Smile Factory">
      </figure>
    </div>

  </div>
</nav>