{{ $category := .category }}

<h3 class="font-sans text-bho-blue-light text-2xl mb-1">{{ $category }}</h3>

<ul class="list-reset mb-6">
  {{ range .Page.Site.Data.skills }} {{ if eq .category $category }}
  <li>
    <a  class="font-r text-grey-darker text-lg leading-normal no-underline" href="{{ .link }}" target="_blank">{{ .name }}</a>
  </li>
  {{ end }} {{ end }}
</ul>
