{{ $baseURL :=  .Site.BaseURL }}

<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="The personal website of
     web developer Bob Humphrey.">
  <title>
    Bob Humphrey
  </title>
  <link rel="stylesheet" href="{{ $.Site.BaseURL }}css/app.min.css">
  <!--
  <link rel="stylesheet" href="{{ $.Site.BaseURL }}css/tw.css">
  <link rel="stylesheet" href="{{ $.Site.BaseURL }}css/fontawesome-all.min.css">
  -->
  <link rel="icon" href="{{ $.Site.BaseURL }}favicon.ico">
</head>

<body class="">

<main>

<div class="lg:flex">

  {{ partial "nav" . }}

  <section class="w-full lg:w-3/5 px-10 md:px-32 lg:px-16">
