{{ $baseURL := .Site.BaseURL }}
{{ partial "top" . }}

<h2 class="font-sans text-bho-blue-dark text-3xl mt-8 mb-8">Experience</h2>

<h3 class="font-sans text-bho-blue-light text-2xl mb-4">University of North Carolina Wilmington (2011-2017)</h3>

<div class="font-r text-grey-darker text-lg leading-normal mb-8">
  <p>
    For 6 years I was the Web and Applications Developer
    for <a class="text-grey-darker" href="https://library.uncw.edu/" target="_blank">Randall Library</a>
    at <a class="text-grey-darker" href="https://uncw.edu/" target="_blank">
    The University of North Carolina Wilmington</a>.
    This is a busy academic library that sees 6 to 7,000 students
    come through its doors on a daily basis,
    with several thousand more visiting its website.
  </p>
  <p>
    I was the library's only coder, and I was responsible for the front
    end, the backend, and the servers. I completed
    <a class="text-grey-darker" href="{{ $baseURL }}/projects" target="_blank">
    dozens of projects</a>
    that helped the university's students and faculty make better use of
    their library. In the process of doing this, I put together
    a pretty extensive
    <a class="text-grey-darker" href="{{ $baseURL }}/skills" target="_blank">
    set of skills</a>.
  </p>
</div>

<div class="lg:flex -mx-2 lg:mb-3">
  <div class="lg:w-1/3 px-2">
    <figure class="image is-square">
      <img src="{{ $baseURL }}/img/randall/L1.jpg" alt="Randall Library">
    </figure>
  </div>
  <div class="lg:w-1/3 px-2">
    <figure class="image is-square">
      <img src="{{ $baseURL }}/img/randall/L5.jpg" alt="Randall Library">
    </figure>
  </div>
  <div class="lg:w-1/3 px-2">
    <figure class="image is-square">
      <img src="{{ $baseURL }}/img/randall/L9.jpg" alt="Randall Library">
    </figure>
  </div>
</div>

<div class="lg:flex -mx-2 lg:mb-3">
  <div class="lg:w-1/3 px-2">
    <figure class="image is-square">
      <img src="{{ $baseURL }}/img/randall/L2.jpg" alt="Randall Library">
    </figure>
  </div>
  <div class="lg:w-1/3 px-2">
    <figure class="image is-square">
      <img src="{{ $baseURL }}/img/randall/L6.jpg" alt="Randall Library">
    </figure>
  </div>
  <div class="lg:w-1/3 px-2">
    <figure class="image is-square">
      <img src="{{ $baseURL }}/img/randall/L10.jpg" alt="Randall Library">
    </figure>
  </div>
</div>

<div class="lg:flex -mx-2 lg:mb-3">
  <div class="lg:w-1/3 px-2">
    <figure class="image is-square">
      <img src="{{ $baseURL }}/img/randall/L3.jpg" alt="Randall Library">
    </figure>
  </div>
  <div class="lg:w-1/3 px-2">
    <figure class="image is-square">
      <img src="{{ $baseURL }}/img/randall/L7.jpg" alt="Randall Library">
    </figure>
  </div>
  <div class="lg:w-1/3 px-2">
    <figure class="image is-square">
      <img src="{{ $baseURL }}/img/randall/L11.jpg" alt="Randall Library">
    </figure>
  </div>
</div>

<div class="lg:flex -mx-2 mb-8">
  <div class="lg:w-1/3 px-2">
    <figure class="image is-square">
      <img src="{{ $baseURL }}/img/randall/L4.jpg" alt="Randall Library">
    </figure>
  </div>
  <div class="lg:w-1/3 px-2">
    <figure class="image is-square">
      <img src="{{ $baseURL }}/img/randall/L8.jpg" alt="Randall Library">
    </figure>
  </div>
  <div class="lg:w-1/3 px-2">
    <figure class="image is-square">
      <img src="{{ $baseURL }}/img/randall/L12.jpg" alt="Randall Library">
    </figure>
  </div>
</div>

<h3 class="font-sans text-bho-blue-light text-2xl mb-4">Roadway Express (1983-2007)</h3>
<div class="font-r text-grey-darker text-lg leading-normal mb-8">
  <p>
    During the years I worked at Roadway Express, it was one of the largest
    trucking companies in the country, with over 30,000 employees and more than
    600 terminals located coast to coast. (Today it is part of the trucking
    giant
    <a class="text-grey-darker" href="http://yrc.com/" target="_blank">
    YRC Freight</a>.)
  </p>
  <p>
    Some of my titles at Roadway included Business Systems Analyst
    and Technical Team Lead.  I was responsible for determining
    business requirements and putting together technical direction for
    a team of about twelve developers, building a variety of applications for the
    thousand member national sales force.
  </p>
</div>

<div class="lg:flex -mx-2 mb-24">
  <div class="lg:w-1/3 px-2">
    <figure class="image is-square">
      <img src="{{ $baseURL }}/img/rex/Rex1.jpg" alt="Randall Library">
    </figure>
  </div>
  <div class="lg:w-1/3 px-2">
    <figure class="image is-square">
      <img src="{{ $baseURL }}/img/rex/Rex3.jpg" alt="Randall Library">
    </figure>
  </div>
  <div class="lg:w-1/3 px-2">
    <figure class="image is-square">
      <img src="{{ $baseURL }}/img/rex/Rex2.jpg" alt="Randall Library">
    </figure>
  </div>
</div>

{{ partial "bottom" . }}
