{{ partial "top" . }}

<h2 class="font-sans text-bho-blue-dark text-3xl mt-8 mb-8">Credits</h2>

<p class="font-r text-grey-darker text-lg leading-normal mb-6">
  All content, design, artwork, and photography by Bob Humphrey,
  except for dog photo by Robert Koorenny on Unsplash,
  modified and stylized by Bob Humphrey.
</p>


{{ partial "bottom" . }}