{{ $baseURL := .Site.BaseURL }}
{{ partial "top" . }}

<h2 class="font-sans text-bho-blue-dark text-3xl mt-8 mb-8">Art</h2>

<div class="flex flex-col justify-start items-start">

  <div class="lg:w-3/4">
    <a href="{{ $baseURL }}art/{{ .Params.file }}/">
      <figure class="">
        <img src="{{ $baseURL }}art/{{ .Params.file }}.jpg"
        alt="{{ .Params.caption }}">
      </figure>
    </a>
    <div class="font-r text-grey-darker text-lg mt-2 mb-8">
      {{ .Params.caption }}
    </div>
  </div>

</div>

{{ partial "bottom" . }}
