{{ $baseURL := .Site.BaseURL }}
{{ partial "top" . }}

<h2 class="font-sans text-bho-blue-dark text-3xl mt-8 mb-8">About</h2>

<p class="font-r text-grey-darker text-lg leading-normal mb-6">
  Hi, My name is Bob.
  I'm a software and web developer with more than 30 years of experience.
  My interests include photography and art. I love to travel,
  read books, listen to music, and take long walks.
</p>

<div class="lg:mb-16 lg:pr-32">
  <figure class="image is-square">
    <img src="{{ $baseURL }}/photography/69.jpg" alt="Inspiration is everywhere">
  </figure>
</div>


{{ partial "bottom" . }}